---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
	title="Premios Esland 2024 - Celebrando lo mejor del streaming"
	description="Descubre los premios de Esland 2024 y celebra lo mejor de tu streaming favorito"
	>
	<Video/>
	<main>
		<Intro/>
		<Bento/>
		<PreFooter/>
	</main>
	<Footer/>
</Layout>

<style>
	
</style>
